<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div>
        <h1>Hola Mundo</h1>
        <div class="div-king-kong">
           <h2>King kong bebé</h2>
        </div>
        
        <ol>
            <li>Rosa</li>
            <li>Emilio</li>
            <li>Colomba</li>
        </ol>
    </div>
    
</body>
</html>